<!DOCTYPE html>
<html lang="en">
  <head>
    <% include('../partials/head'); %>
    <link rel="stylesheet" href="/css/styles.css" media="screen" />
  </head>
  <body>
    <div class="content">
      <%- include('../partials/header'); %> <%-
      include('../partials/navigation'); %> %>
      <main><%- body %></main>
      <%- include('../partials/footer'); %>
    </div>
  </body>
</html>
