<h1>Welcome to CSE Motors!</h1>
<div>
  <div>
    <section class="hero-section">
      <img
        class="car-img"
        src="images/vehicles/delorean.jpg"
        alt="DMC Delorean"
      />
      <div class="div-delorean">
        <h2>DMC Delorean</h2>
        <ul class="delorean-list">
          <li>3 Cup holders</li>
          <li>Superman doors</li>
          <li>Fuzzy dice!</li>
        </ul>
        <div class="delorean-button">
          <img class="button" src="images/site/own_today.png" />
        </div>
      </div>
    </section>
  </div>
  <div class="bottom-content">
    <section class="upgrades-section">
      <h2>Delorean Upgrades</h2>
      <div class="upgrade-grid">
        <div class="upgrade">
          <div class="upgrade-item">
            <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" />
          </div>
          <h5>Flux Capacitor</h5>
        </div>
        <div class="upgrade">
          <div class="upgrade-item">
            <img src="images/upgrades/flame.jpg" alt="Flame Decals" />
          </div>
          <h5>Flame Decals</h5>
        </div>
        <div class="upgrade">
          <div class="upgrade-item">
            <img
              src="images/upgrades/bumper_sticker.jpg"
              alt="Bumper Stickers"
            />
          </div>
          <h5>Bumper Stickers</h5>
        </div>
        <div class="upgrade">
          <div class="upgrade-item">
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps" />
          </div>
          <h5>Hub Caps</h5>
        </div>
      </div>
    </section>
    <section class="reviews-section">
      <h2 class="subtitle">DMC Delorean Reviews</h2>
      <ul class="reviews-list">
        <li class="paragraph">
          "So fast it's almost like travelling in time." (4/5)
        </li>
        <li class="paragraph">"Coolest ride on the road." (4/5)</li>
        <li class="paragraph">"I'm feeling McFly!" (5/5)</li>
        <li class="paragraph">
          "The most futuristic ride of our day." (4.5/5)
        </li>
        <li class="paragraph">"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
  </div>
</div>
