/* Body */
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-image: url("/images/site/small_check.jpg");
}
.content {
  background-color: white;
  border: 5px solid #02b0d2;
  border-radius: 1%;
  font-family: Arial, sans-serif;
  width: 50%;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 25px;
}

/* Header */
#top-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.title {
  font-size: x-large;
  color: #0056b3;
}
a {
  text-decoration: none;
  color: black;
}
/* Navigation */
nav {
  background-color: black;
  color: white;
}
nav ul {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-around;
  font-size: small;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Centrar el contenedor */
  opacity: 1;
}

.car-img {
  display: block;
  width: 100%;
  height: auto;
}
/* Car Info Overlay */

.car-info-overlay ul {
  list-style: none;
  text-align: left;
}
.div-delorean {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  top: 30%;
  left: 5%;
  width: 30%;
  /* Truco para centrarlo horizontalmente */
}
.button {
  padding: 10px 20px;
  font-size: medium;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.delorean-button {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.delorean-list li {
  font-size: large;
}
/* Bottom Content */
.bottom-content {
  display: flex;
  gap: 35px;
  justify-content: space-between; /* separa las columnas */
  margin-top: 30px;
  flex-wrap: nowrap; /* evita que se apilen */
}

.upgrades-section,
.reviews-section {
  flex: 1 1 45%; /* ⬅️ cada sección toma aprox. 45% del ancho */
}

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.upgrade {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.upgrade-item {
  background: skyblue;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  height: 15vh;
}
/* Review Section */
.reviews-section {
  width: 50%;
  text-align: left;
}

.subtitle {
  padding-bottom: 20px;
}
.reviews-list {
  list-style: disc;
  list-style-position: inside;
  padding-left: 7px;
}
.paragraph {
  padding-bottom: 20px;
}
/* Footer */

footer {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url("/images/site/small_check.png");
  }
  .content {
    width: 100%;
  }
  .bottom-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .div-delorean {
    width: 20%;
    top: 0;
    padding: 10px;
  }
  .div-delorean h2 {
    font-size: 1em;
  }

  .div-delorean li {
    font-size: 0.9em;
  }

  .reviews-section {
    width: 100%;
  }
}
